html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'helv_h';
  src: url("fonts/HelveticaNeue-HeavyCond.eot");
  src: url("fonts/HelveticaNeue-HeavyCond.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeue-HeavyCond.woff") format("woff"), url("fonts/HelveticaNeue-HeavyCond.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'helv_c';
  src: url("fonts/HelveticaNeue-Condensed.eot");
  src: url("fonts/HelveticaNeue-Condensed.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeue-Condensed.woff") format("woff"), url("fonts/HelveticaNeue-Condensed.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helv_cobl';
  src: url("fonts/HelveticaNeue-CondensedObl.eot");
  src: url("fonts/HelveticaNeue-CondensedObl.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeue-CondensedObl.woff") format("woff"), url("fonts/HelveticaNeue-CondensedObl.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'helv_l';
  src: url("fonts/HelveticaNeue-LightCond.eot");
  src: url("fonts/HelveticaNeue-LightCond.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeue-LightCond.woff") format("woff"), url("fonts/HelveticaNeue-LightCond.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'helv_b';
  src: url("fonts/HelveticaNeue-BoldCond.eot");
  src: url("fonts/HelveticaNeue-BoldCond.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeue-BoldCond.woff") format("woff"), url("fonts/HelveticaNeue-BoldCond.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
/*



$lg: "screen and (min-width: 960px)";
*/
.table {
  display: table;
  /* Allow the centering to work */
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .table-sm {
    display: table;
    margin: 0 auto;
  }
}
@media screen and (min-width: 320px) and (max-width: 374px) {
  .table-sm {
    display: block;
    margin: 0;
  }
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Parallax Scroll
   ========================================================================== */
body,
html {
  height: 100%;
  height: 100%;
  background-color: #000;
}
@media screen and (max-width: 768px) {
  body,
  html {
    height: auto;
    background-color: #323232;
  }
}

.no-js {
  padding-top: 106px;
}

h2 {
  margin-top: 0;
}

.loading {
  background: url("../images/ico_loading.gif") no-repeat center center;
}

section {
  width: 100%;
  opacity: 0;
}

.loaded section,
.no-js section {
  opacity: 1;
  -webkit-transition: opacity .4s ease-out;
  -moz-transition: opacity .4s ease-out;
  transition: opacity .4s ease-out;
}

main {
  overflow-x: hidden;
}

.bcg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#preload {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
.back-link a {
  color: #4ca340;
  text-decoration: none;
  border-bottom: 1px #4ca340 solid;
}

.back-link a:hover,
.back-link a:focus {
  color: #408536;
  text-decoration: none;
  border-bottom: 1px #408536 solid;
}

.entry-header {
  text-align: left;
  margin: 0 auto;
  width: 100%;
  height: 80px;
  vertical-align: middle;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}
@media screen and (max-width: 768px) {
  .entry-header {
    height: 55px;
  }
}

.inner p {
  font-family: 'helv_h';
  font-size: 1em;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .inner p {
    float: left;
  }
}
@media screen and (max-width: 768px) {
  .inner img {
    float: left;
  }
}

.entry-header {
  background-color: #000;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
}

.nav-sec1 {
  float: left;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 15px 20px;
}
@media screen and (max-width: 768px) {
  .nav-sec1 {
    width: 100%;
    margin: 11px 20px;
  }
}

.nav-sec2 {
  float: right;
  padding-top: 5px;
  margin: 15px 20px;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}
@media screen and (max-width: 768px) {
  .nav-sec2 {
    margin: 0px;
    width: 100%;
    float: left;
    padding-top: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
  }
}

.logo {
  width: 46px;
  height: 49px;
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  .logo {
    margin-right: 10px;
    width: 31px;
    height: 32px;
  }
}

.nav-title {
  padding-top: 10px;
}
@media screen and (max-width: 768px) {
  .nav-title {
    padding: 0px;
  }
}

@media screen and (max-width: 768px) {
  ul.nav-ul {
    margin: 10px 0px;
  }
}
ul.nav-ul li {
  display: inline-block;
}

.nav-btn1 {
  margin-right: .3em;
}

p.nav1-btn1 {
  width: 8em;
  position: relative;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  background: #ff6600;
  padding: 11px 10px 10px 10px;
  text-decoration: none;
  font-family: 'helv_b';
  color: #ffffff;
  text-align: center;
  font-size: 1.3em;
}
p.nav1-btn1:active {
  background: #e36110;
  text-decoration: none;
}
p.nav1-btn1:hover {
  background: #e36110;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  p.nav1-btn1 {
    width: 8.8em;
    font-size: 1em;
  }
}

p.nav1-btn2 {
  width: 8em;
  position: relative;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  background: #F1A63B;
  padding: 11px 15px 10px 15px;
  text-decoration: none;
  font-family: 'helv_b';
  color: #ffffff;
  text-align: center;
  font-size: 1.3em;
}
p.nav1-btn2:active {
  background: #DB8928;
  text-decoration: none;
}
p.nav1-btn2:hover {
  background: #DB8928;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  p.nav1-btn2 {
    font-size: 1em;
  }
}

.initp1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent center no-repeat;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .initp1 {
    height: 200%;
    position: relative;
  }
}

.initp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent center no-repeat;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .initp {
    position: relative;
  }
}

@media screen and (max-width: 768px) {
  .hsCon-Desk {
    opacity: 0;
  }
}

.hsCon-Res {
  visibility: hidden;
}
@media screen and (max-width: 768px) {
  .hsCon-Res {
    visibility: visible;
  }
}

@media screen and (max-width: 768px) {
  section:nth-child(1) .hsContainer {
    height: 120%;
  }
}

section:nth-child(2) {
  width: 100%;
  overflow: hidden;
  -webkit-clip-path: url(../#clip_poly);
  -o-clip-path: url(../#clip_poly);
  clip-path: url(../#clip_poly);
  -webkit-transition: background-image 200ms;
  -moz-transition: background-image 200ms;
  transition: background-image 200ms;
  /*
  -webkit-clip-path: polygon(100% 10%, 100% 100%, 50% 100%, 0 100%, 0 0);
  -ms-clip-path: polygon(100% 10%, 100% 100%, 50% 100%, 0 100%, 0 0);
  -moz-clip-path: polygon(100% 10%, 100% 100%, 50% 100%, 0 100%, 0 0);
  clip-path: polygon(100% 10%, 100% 100%, 50% 100%, 0 100%, 0 0);
  -webkit-clip-path: url("#clip_poly");
  */
  /*
  border-bottom: 0em solid transparent;
  border-left: 100vw solid rgba(0, 0, 255, 0.5);
  border-top: 2.3em solid transparent;
*/
}
@media screen and (max-width: 768px) {
  section:nth-child(2) {
    margin-top: -22.5vmax;
    -webkit-clip-path: none;
    clip-path: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 374px) {
  section:nth-child(2) {
    margin-top: -1em;
    -webkit-clip-path: none;
    clip-path: none;
  }
}

section:nth-child(3) {
  width: 100%;
  overflow: hidden;
  -webkit-clip-path: url(../#clip_poly2);
  -o-clip-path: url(../#clip_poly2);
  clip-path: url(../#clip_poly2);
  /*
  -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0 100%, 0 10%);
  -ms-clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0 100%, 0 10%);
  clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0 100%, 0 10%);
  */
}
@media screen and (max-width: 768px) {
  section:nth-child(3) {
    -webkit-clip-path: none;
    clip-path: none;
  }
}

section:nth-child(4) {
  width: 100%;
  overflow: hidden;
  -webkit-clip-path: url(../#clip_poly);
  -o-clip-path: url(../#clip_poly);
  clip-path: url(../#clip_poly);
  -webkit-transition: background-image 200ms;
  -moz-transition: background-image 200ms;
  transition: background-image 200ms;
}
@media screen and (max-width: 768px) {
  section:nth-child(4) {
    -webkit-clip-path: none;
    clip-path: none;
  }
}

section:nth-child(5) {
  width: 100%;
  overflow: hidden;
  -webkit-clip-path: url(../#clip_poly2);
  -o-clip-path: url(../#clip_poly2);
  clip-path: url(../#clip_poly2);
}
@media screen and (max-width: 768px) {
  section:nth-child(5) {
    -webkit-clip-path: none;
    clip-path: none;
  }
}

.hsContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.hsContent {
  max-width: 50%;
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  .hsContent {
    max-width: 80%;
    margin-top: 2%;
  }
}

/* ==========================================================================
      Slide
      ========================================================================== */
/* Slide 1 */
#slide-1 {
  background-color: #fff;
}

/* Slide 2 */
#slide-2 {
  background-image: url("../images/content/s2/bg/bg1.jpg");
}
@media screen and (max-width: 768px) {
  #slide-2 {
    background: none;
  }
}
@media screen and (max-width: 768px) {
  #slide-2 .slides-pagination {
    bottom: 15%;
    bottom: 10vmax;
  }
}
@media screen and (min-width: 320px) and (max-width: 374px) {
  #slide-2 .slides-pagination {
    bottom: 20%;
  }
}

/* Slide 3 */
#slide-3 {
  background-color: #FF6400;
}
#slide-3 .slides-pagination a.current {
  background: #000;
}
@media screen and (max-width: 768px) {
  #slide-3 .slides-pagination {
    bottom: 11%;
  }
  #slide-3 .slides-pagination a {
    color: #000;
  }
}

/* Slide 4 */
#slide-4 {
  background-image: url("../images/content/s4/bg/bg1.jpg");
}
@media screen and (max-width: 768px) {
  #slide-4 {
    background: none;
    background-color: #000;
  }
}
@media screen and (max-width: 768px) {
  #slide-4 .slides-container li div {
    position: absolute;
    top: 0% !important;
    left: 0 !important;
    width: 100% !important;
    height: 40% !important;
    background-size: cover !important;
  }
}
@media screen and (max-width: 768px) {
  #slide-4 .slides-pagination {
    bottom: 11%;
  }
}

/* Slide 5 */
#slide-5 {
  background-color: #fff;
  color: #000;
}

#slides {
  position: relative;
  height: 100% !important;
  pointer-events: auto;
}

#slides .slides-container {
  display: none;
}

#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}

#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}

.slides-navigation a {
  position: absolute;
  display: block;
}

.slides-navigation a.prev {
  left: 0;
}

.slides-navigation a.next {
  right: 0;
}

.slides-pagination {
  color: #fff;
  position: absolute;
  z-index: 3;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.slides-pagination a {
  color: #fff;
}
.slides-pagination a:visited {
  color: #fff;
}

.slides-pagination a {
  border-radius: 15px;
  background: #fff;
  width: 10px;
  height: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");
  margin: 6px;
  overflow: hidden;
  text-indent: -100%;
}

.slides-pagination a.current {
  background: #FF6400;
}

.box1 {
  position: absolute;
  left: 9em;
  top: 48%;
}
@media screen and (max-width: 768px) {
  .box1 {
    left: 0;
    top: 0;
    margin-top: 35vmax;
    width: 90%;
  }
}
@media screen and (min-width: 580px) and (max-width: 768px) {
  .box1 {
    margin-top: 22vmax;
  }
}
@media screen and (min-width: 320px) and (max-width: 374px) {
  .box1 {
    margin-top: 10em;
  }
}

.box2 {
  position: absolute;
  left: 9em;
  margin-top: 150px;
}
@media screen and (max-width: 768px) {
  .box2 {
    left: 0;
    margin-top: 12%;
    width: 100%;
  }
}
@media screen and (min-width: 580px) and (max-width: 768px) {
  .box2 {
    margin-top: 0%;
  }
}
@media screen and (min-width: 320px) and (max-width: 374px) {
  .box2 {
    margin-top: 2%;
  }
}

.box3 {
  position: absolute;
  left: 9em;
  top: 46%;
}
@media screen and (max-width: 768px) {
  .box3 {
    margin-top: 43vmax;
  }
}
@media screen and (min-width: 580px) and (max-width: 768px) {
  .box3 {
    margin-top: 32vmax;
  }
}

@media screen and (max-width: 768px) {
  .arrow_white {
    position: absolute;
    z-index: 30;
    bottom: 20px;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .arrow_white img {
    width: 56px;
    height: 16px;
  }
}

.s1-title {
  font-family: 'helv_c';
  color: #000;
  font-size: 26px;
  font-size: 2vmax;
  margin-bottom: 2%;
}
@media screen and (max-width: 768px) {
  .s1-title {
    font-size: 1.1em;
  }
}

.s1-info {
  font-family: 'helv_b';
  color: #000;
  font-size: 40px;
  font-size: 3vmax;
}
@media screen and (max-width: 768px) {
  .s1-info {
    font-size: 4.6vmax;
  }
}
@media screen and (min-width: 320px) and (max-width: 374px) {
  .s1-info {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 768px) {
  .s1-arrow_block {
    width: 100%;
    text-align: center;
  }
}

.s1-arrow {
  margin-top: 3%;
  width: 56px;
  height: 16px;
}
@media screen and (max-width: 768px) {
  .s1-arrow {
    margin-top: 11%;
  }
}

.s2_3,
.s2_4,
.s2_5 {
  font-family: 'helv_b';
  color: #fff;
  right: 0;
  font-size: 3.7vmax;
  pointer-events: none;
}

.s2_2 {
  font-family: 'helv_b';
  color: #fff;
  right: 0;
  font-size: 3.7vmax;
}
@media screen and (max-width: 768px) {
  .s2_2 {
    font-size: 3em;
    font-size: 6.5vmax;
    margin-left: .7em;
    margin-top: .5em;
  }
}
@media screen and (min-width: 580px) and (max-width: 768px) {
  .s2_2 {
    font-size: 2.5em;
    font-size: 5.5vmax;
  }
}
@media screen and (min-width: 320px) and (max-width: 374px) {
  .s2_2 {
    font-size: 2em;
  }
}

@media screen and (max-width: 768px) {
  .s2-res_tab {
    position: relative;
    font-family: 'helv_b';
    color: #fff;
    right: 0;
    font-size: 3.7vmax;
    width: 2.7em;
    font-size: 3.5em;
    font-size: 9vmax;
    padding: .4em .7em .2em;
    background-color: #ff6600;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 100;
    top: 32vmax;
    text-align: center;
    left: 0;
  }
}
@media screen and (min-width: 580px) and (max-width: 768px) {
  .s2-res_tab {
    top: 22vmax;
    font-size: 3em;
    font-size: 7vmax;
  }
}
@media screen and (min-width: 320px) and (max-width: 374px) {
  .s2-res_tab {
    position: absolute;
    top: 70px;
    font-size: 2.5em;
  }
}

@media screen and (max-width: 768px) {
  .s3-res_tab {
    position: relative;
    font-family: 'helv_b';
    color: #fff;
    right: 0;
    font-size: 3.7vmax;
    color: #000;
    width: 1.7em;
    font-size: 3.5em;
    font-size: 9vmax;
    text-align: right;
    padding: .4em .7em .2em;
    background-color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 100;
    top: 8.5vmax;
    left: 0;
  }
}
@media screen and (min-width: 580px) and (max-width: 768px) {
  .s3-res_tab {
    top: 5.5vmax;
    font-size: 3em;
    font-size: 7vmax;
  }
}
@media screen and (min-width: 320px) and (max-width: 374px) {
  .s3-res_tab {
    top: .8em;
    font-size: 2.5em;
  }
}

@media screen and (max-width: 768px) {
  .s4-res_Mtab {
    position: relative;
    top: 24vmax;
  }
}
@media screen and (min-width: 580px) and (max-width: 768px) {
  .s4-res_Mtab {
    top: 0;
  }
}

@media screen and (max-width: 768px) {
  .s4-res_tab {
    position: relative;
    font-family: 'helv_b';
    color: #fff;
    right: 0;
    font-size: 3.7vmax;
    width: 1.2em;
    font-size: 3.5em;
    font-size: 8.7vmax;
    padding: .4em .7em .2em;
    background-color: #ff6600;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 100;
    top: 10vmax;
    left: 0;
    text-align: right;
  }
}
@media screen and (min-width: 320px) and (max-width: 374px) {
  .s4-res_tab {
    top: 1em;
  }
}

.s2_1,
.s3_1,
.s4_1 {
  position: absolute;
  width: 35vmax;
  height: 300px;
  top: 27%;
}

.s21-tab,
.s41-tab {
  background-image: url("../images/content/s2/tab-orange.png");
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  width: 90%;
}
.s21-tab p,
.s41-tab p {
  font-family: helv_b;
  font-size: 5.5em;
  color: #fff;
  float: right;
  padding-top: 120px;
  padding-right: 22px;
  /*
  top: 125px;
  right: 0;
  position: absolute;
  */
}

.s2_2 ul {
  display: block;
  list-style: none;
}

.s31-tab {
  background-image: url("../images/content/s3/tab-white.png");
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  width: 90%;
}
.s31-tab p {
  font-family: helv_b;
  font-size: 5.5em;
  color: #fff;
  float: right;
  padding-top: 120px;
  padding-right: 22px;
  /*
  top: 125px;
  right: 0;
  position: absolute;
  */
}
.s31-tab p {
  color: #000;
}

.s3-ico {
  width: 198px;
  height: 177px;
  clear: both;
}
@media screen and (max-width: 768px) {
  .s3-ico {
    background-image: url("../images/content/s3/s31.png");
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    width: 140px;
    width: 22vmax;
    height: 123px;
    height: 19vmax;
    margin-top: 10%;
  }
}
@media screen and (min-width: 320px) and (max-width: 374px) {
  .s3-ico {
    width: 8em;
    height: 7em;
  }
}

@media screen and (max-width: 768px) {
  .s3-ico2 {
    background-image: url("../images/content/s3/s32.png");
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    width: 140px;
    width: 23vmax;
    height: 123px;
    height: 20.5vmax;
    margin-top: 10%;
  }
}
@media screen and (min-width: 320px) and (max-width: 374px) {
  .s3-ico2 {
    width: 8em;
    height: 7em;
    margin-top: 21%;
  }
}

.s3-ico3 {
  width: 260px;
  height: 177px;
  clear: both;
}
@media screen and (max-width: 768px) {
  .s3-ico3 {
    background-image: url("../images/content/s3/s33.png");
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    width: 169px;
    width: 25vmax;
    height: 76px;
    height: 11.5vmax;
    margin-top: 10%;
  }
}
@media screen and (min-width: 320px) and (max-width: 374px) {
  .s3-ico3 {
    width: 10em;
    height: 5em;
    margin-top: 15%;
  }
}

.s3-title {
  font-family: 'helv_b';
  margin: 20px 0px;
  color: #000;
  font-size: 1.2em;
}
@media screen and (max-width: 768px) {
  .s3-title {
    font-size: 3em;
    font-size: 5.5vmax;
    text-align: center;
    margin: 4% 0px 2%;
  }
}
@media screen and (min-width: 580px) and (max-width: 768px) {
  .s3-title {
    font-size: 4.5em;
    font-size: 4.5vmax;
  }
}
@media screen and (min-width: 320px) and (max-width: 374px) {
  .s3-title {
    font-size: 1.7em;
  }
}

.s3-info {
  font-family: 'helv_c';
  font-style: italic;
  font-size: .45em;
  color: #fff;
  line-height: 1.2em;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .s3-info {
    margin-bottom: 1.5vmax;
    font-size: 1.5em;
    font-size: 3.3vmax;
    text-align: center;
  }
}
@media screen and (min-width: 580px) and (max-width: 768px) {
  .s3-info {
    font-size: .5em;
    font-size: 2.3vmax;
  }
}
@media screen and (min-width: 320px) and (max-width: 374px) {
  .s3-info {
    margin-bottom: .7em;
    font-size: 1em;
  }
}

p.s3-btn {
  position: absolute;
  font-family: 'helv_c';
  font-size: .45em;
  color: #fff;
  padding: .8% 1% .51% 1%;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  border: solid #fff 2px;
  text-decoration: none;
}
p.s3-btn:hover {
  text-decoration: none;
}
p.s3-btn:active {
  opacity: .7;
}
@media screen and (max-width: 768px) {
  p.s3-btn {
    padding: 3px;
    font-size: 3vmax;
    position: relative;
    left: -50%;
  }
}
@media screen and (min-width: 320px) and (max-width: 374px) {
  p.s3-btn {
    font-size: 1em;
  }
}

.s4-title {
  font-family: 'helv_b';
  font-size: 6vmax;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .s4-title {
    position: absolute;
    font-family: 'helv_b';
    color: #fff;
    right: 0;
    font-size: 3.7vmax;
    margin: 1.2% .5em;
    font-size: 7vmax;
    z-index: 100;
    top: 25vmax;
    left: 0;
  }
}

.s4-info {
  color: #fff;
  font-family: 'helv_c';
  font-size: 0.6em;
  line-height: 1.2em;
}
@media screen and (max-width: 768px) {
  .s4-info {
    margin: 0em 1em;
    font-size: 1.8em;
    font-size: 4.2vmax;
  }
}

.s5-content {
  position: relative;
}

.s5-left {
  width: 40%;
  float: left;
  margin-left: 10%;
  margin-top: 6em;
}
@media screen and (max-width: 768px) {
  .s5-left {
    margin-left: 0;
    width: 80%;
    margin: 4em;
    margin-top: 6%;
    margin-bottom: 0;
  }
}

.s5-left_img {
  width: 57%;
  width: 25vmax;
  height: 58%;
  height: 28vmax;
  float: right;
  padding-right: 18%;
}
@media screen and (max-width: 768px) {
  .s5-left_img {
    width: 12em;
    width: 37vmax;
    height: 14em;
    height: 44vmax;
    float: none;
    padding-right: 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 374px) {
  .s5-left_img {
    width: 9em;
    height: 10em;
  }
}

.s5-right {
  width: 40%;
  float: right;
  margin-right: 10%;
  margin-top: 10.5%;
}
@media screen and (max-width: 768px) {
  .s5-right {
    margin-left: 0;
    width: 80%;
    margin-top: 0;
  }
}
.s5-right p {
  font-family: 'helv_b';
  font-size: 4vmax;
  font: #000;
  text-align: right;
  line-height: 1em;
}
@media screen and (max-width: 768px) {
  .s5-right p {
    font-size: 2em;
    font-size: 5.5vmax;
  }
}
@media screen and (min-width: 320px) and (max-width: 374px) {
  .s5-right p {
    font-size: 1.3em;
  }
}
.s5-right .s5-highlight {
  color: #FF6400;
  font-size: 5vmax;
}
@media screen and (max-width: 768px) {
  .s5-right .s5-highlight {
    font-size: 1em;
  }
}
.s5-right ul {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: right;
}

a {
  text-decoration: none;
}

.s5-res_btn {
  visibility: hidden;
}
@media screen and (max-width: 768px) {
  .s5-res_btn {
    visibility: visible;
  }
}

.s5_btn {
  visibility: visible;
}
@media screen and (max-width: 768px) {
  .s5_btn {
    visibility: hidden;
  }
}

.s5-btn1 {
  margin-right: .5em;
}
@media screen and (max-width: 768px) {
  .s5-btn1 {
    float: left;
  }
}

@media screen and (max-width: 768px) {
  .s5-btn2 {
    float: left;
  }
}

p.s51-btn1 {
  width: 8em;
  position: relative;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  background: #ff6600;
  padding: 11px 10px 10px 10px;
  text-decoration: none;
  font-family: 'helv_b';
  color: #ffffff;
  text-align: center;
  font-size: 1.3vmax;
}
p.s51-btn1:hover {
  background: #e36110;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  p.s51-btn1 {
    font-size: 2.2vmax;
  }
}
@media screen and (min-width: 320px) and (max-width: 374px) {
  p.s51-btn1 {
    font-size: .6em;
  }
}

p.s52-btn2 {
  width: 8em;
  position: relative;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  background: #F1A63B;
  padding: 11px 15px 10px 15px;
  text-decoration: none;
  font-family: 'helv_b';
  color: #ffffff;
  text-align: center;
  font-size: 1.3vmax;
}
p.s52-btn2:hover {
  background: #DB8928;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  p.s52-btn2 {
    font-size: 2.2vmax;
  }
}
@media screen and (min-width: 320px) and (max-width: 374px) {
  p.s52-btn2 {
    font-size: .6em;
  }
}

.s5-pre_footer {
  position: absolute;
  width: 300px;
  height: 77px;
  /* margin: 0 auto; */
  /* float: left; */
  bottom: 130px;
  z-index: 20;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  .s5-pre_footer {
    margin: 0 auto;
    bottom: 43%;
  }
}
.s5-pre_footer li {
  width: 80px;
  display: inline-block;
  vertical-align: middle;
  font-family: 'helv_c';
  font-size: .9em;
  text-align: center;
}
.s5-pre_footer li img {
  width: 100px;
  width: 100%;
  height: 100px;
  height: 50%;
}
.s5-pre_footer li:nth-child(1) {
  text-align: right;
}
.s5-pre_footer li:nth-child(2) {
  width: 100px;
}
.s5-pre_footer li:nth-child(3) {
  width: 80px;
  text-align: left;
}

.s5-footer {
  position: absolute;
  width: 100%;
  height: 130px;
  bottom: 0;
  background-color: #323232;
  float: left;
}
@media screen and (max-width: 768px) {
  .s5-footer {
    height: 450px;
    height: 44%;
  }
}

.s5-foot_info {
  width: 85%;
  height: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .s5-foot_info {
    margin-top: 2em;
    width: 90%;
  }
}

.s5-foot_ul {
  width: 100%;
  display: inline-block;
  margin-top: 50px;
  margin-left: 50px;
  color: #B2B2B2;
}
.s5-foot_ul li {
  display: inline-block;
  width: 32%;
}
@media screen and (max-width: 768px) {
  .s5-foot_ul li {
    width: 100%;
    margin-bottom: 2.5em;
    font-size: 1.1em;
  }
}
@media screen and (min-width: 320px) and (max-width: 374px) {
  .s5-foot_ul li {
    font-size: .9em;
  }
}
@media screen and (max-width: 768px) {
  .s5-foot_ul li a {
    color: #B2B2B2;
  }
}
@media screen and (max-width: 768px) {
  .s5-foot_ul {
    margin-left: 0px;
  }
}

li {
  font-family: 'helv_c';
  font-size: .9em;
  vertical-align: text-top;
}
li a {
  color: #fff;
}

.s5-li1 {
  color: #fff;
  font-family: 'helv_b';
  font-size: 1em;
}
@media screen and (max-width: 768px) {
  .s5-li1 {
    font-size: 1.1em;
  }
}

 /* 
by Chanala Wilangka
update-08-09-2015
*/
