html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'HelveticaNeue';
  src: url("HelveticaNeue-Roman.eot");
  src: url("HelveticaNeue-Roman.eot?#iefix") format("embedded-opentype"), url("HelveticaNeue-Roman.woff") format("woff"), url("HelveticaNeue-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeue-Ext';
  src: url("HelveticaNeue-LightExt.eot");
  src: url("HelveticaNeue-LightExt.eot?#iefix") format("embedded-opentype"), url("HelveticaNeue-LightExt.woff") format("woff"), url("HelveticaNeue-LightExt.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeue-Ext';
  src: url("HelveticaNeue-ThinExt.eot");
  src: url("HelveticaNeue-ThinExt.eot?#iefix") format("embedded-opentype"), url("HelveticaNeue-ThinExt.woff") format("woff"), url("HelveticaNeue-ThinExt.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeue-Ext';
  src: url("HelveticaNeue-BlackExt.eot");
  src: url("HelveticaNeue-BlackExt.eot?#iefix") format("embedded-opentype"), url("HelveticaNeue-BlackExt.woff") format("woff"), url("HelveticaNeue-BlackExt.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeue-Condensed';
  src: url("HelveticaNeue-Condensed.eot");
  src: url("HelveticaNeue-Condensed.eot?#iefix") format("embedded-opentype"), url("HelveticaNeue-Condensed.woff") format("woff"), url("HelveticaNeue-Condensed.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeue';
  src: url("HelveticaNeue-Black.eot");
  src: url("HelveticaNeue-Black.eot?#iefix") format("embedded-opentype"), url("HelveticaNeue-Black.woff") format("woff"), url("HelveticaNeue-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeue';
  src: url("HelveticaNeue-Italic.eot");
  src: url("HelveticaNeue-Italic.eot?#iefix") format("embedded-opentype"), url("HelveticaNeue-Italic.woff") format("woff"), url("HelveticaNeue-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'HelveticaNeue-Extended';
  src: url("HelveticaNeue-Extended.eot");
  src: url("HelveticaNeue-Extended.eot?#iefix") format("embedded-opentype"), url("HelveticaNeue-Extended.woff") format("woff"), url("HelveticaNeue-Extended.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeue';
  src: url("HelveticaNeue-Medium.eot");
  src: url("HelveticaNeue-Medium.eot?#iefix") format("embedded-opentype"), url("HelveticaNeue-Medium.woff") format("woff"), url("HelveticaNeue-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeue';
  src: url("HelveticaNeue-Light.eot");
  src: url("HelveticaNeue-Light.eot?#iefix") format("embedded-opentype"), url("HelveticaNeue-Light.woff") format("woff"), url("HelveticaNeue-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeue-Ultra';
  src: url("HelveticaNeue-UltraLight.eot");
  src: url("HelveticaNeue-UltraLight.eot?#iefix") format("embedded-opentype"), url("HelveticaNeue-UltraLight.woff") format("woff"), url("HelveticaNeue-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeue-Ext';
  src: url("HelveticaNeue-BoldExt.eot");
  src: url("HelveticaNeue-BoldExt.eot?#iefix") format("embedded-opentype"), url("HelveticaNeue-BoldExt.woff") format("woff"), url("HelveticaNeue-BoldExt.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeue';
  src: url("HelveticaNeue-Bold.eot");
  src: url("HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"), url("HelveticaNeue-Bold.woff") format("woff"), url("HelveticaNeue-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeue';
  src: url("HelveticaNeue-Thin.eot");
  src: url("HelveticaNeue-Thin.eot?#iefix") format("embedded-opentype"), url("HelveticaNeue-Thin.woff") format("woff"), url("HelveticaNeue-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeue-Heavy';
  src: url("HelveticaNeue-Heavy.eot");
  src: url("HelveticaNeue-Heavy.eot?#iefix") format("embedded-opentype"), url("HelveticaNeue-Heavy.woff") format("woff"), url("HelveticaNeue-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
/*
$sm: "screen and (min-width: 375px)";
$md-600: "screen and (min-width: 600px)";
$md: "screen and (min-width: 780px)";
$lg: "screen and (min-width: 960px)";
*/
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Parallax Scroll
   ========================================================================== */
body,
html {
  height: 100%;
  min-height: 100%;
  background-color: #000; }

.no-js {
  padding-top: 106px; }

h2 {
  margin-top: 0; }

.loading {
  background: url("../images/ico_loading.gif") no-repeat center center; }

section {
  min-width: 960px;
  opacity: 0; }

.loaded section,
.no-js section {
  opacity: 1;
  -webkit-transition: opacity 300ms ease-out;
  -moz-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out; }

main {
  overflow-x: hidden; }

.bcg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%; }

#preload {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
.back-link a {
  color: #4ca340;
  text-decoration: none;
  border-bottom: 1px #4ca340 solid; }

.back-link a:hover,
.back-link a:focus {
  color: #408536;
  text-decoration: none;
  border-bottom: 1px #408536 solid; }

h1 {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  margin: 0;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  margin-bottom: 3px; }

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal; }

    /*
    .hsContainer {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    .hsContent {
        max-width: 550px;
        margin: -150px auto 0 auto;
        display: table-cell;
        vertical-align: middle;
        //color: #ebebeb;
        padding: 0 8%;
        text-align: center
    }

    .hsContent h2,
    .copy h2 {
        //color: #ffffff;
        font-size: 45px;
        line-height: 48px;
        margin-bottom: 12px;
    }

    .hsContent p {
        width: 400px;
        margin: 0 auto;
        //color: #b2b2b2;
    }

    .hsContent a {
        color: #b2b2b2;
        text-decoration: underline;
    }
    
    //-------------------------------------------------------------
    
    .hsContainer {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }
    
    .hsContent {
        max-width: 700px;
        position: absolute;
        left: 0%;
        top: 50%;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .hsContent h2 {
        color: #fff8de;
        padding: 10px 5px;
        font-size: 35px;
        line-height: 38px;
        margin-bottom: 12px;
    }
    
    .hsContent p {
        width: 400px;
        color: #b2b2b2;
    }
    
    .hsContent a {
        color: #b2b2b2;
        text-decoration: underline;
    }
    
    .box1 {
        position: absolute;
        width: 50%;
        height: 50%;
        top: 50%;
        color: blue;
    }

*/
.entry-header .inner {
  text-align: left;
  margin: 0 auto 20px auto;
  width: 800px;
  color: #fff; }

.entry-header {
  padding-top: 20px;
  background-color: #000;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  opacity: .5; }

.socialLinks {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000000; }

.fb-like,
.twitter-follow-button,
.twitter-share-button {
  margin-right: 10px; }

#carbonads-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000000; }

.initp1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent center no-repeat;
  background-size: cover; }

.initp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent center no-repeat;
  background-size: cover; }

section:nth-child(2) {
  width: 100%;
  overflow: hidden;
  -webkit-clip-path: polygon(100% 10%, 100% 100%, 50% 100%, 0 100%, 0 0);
  clip-path: polygon(100% 10%, 100% 100%, 50% 100%, 0 100%, 0 0);
  /*
  border-bottom: 0em solid transparent;
  border-left: 100vw solid rgba(0, 0, 255, 0.5);
  border-top: 2.3em solid transparent;
*/ }

section:nth-child(3) {
  width: 100%;
  overflow: hidden;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0 100%, 0 10%);
  clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0 100%, 0 10%); }

section:nth-child(4) {
  width: 100%;
  overflow: hidden;
  -webkit-clip-path: polygon(100% 10%, 100% 100%, 50% 100%, 0 100%, 0 0);
  clip-path: polygon(100% 10%, 100% 100%, 50% 100%, 0 100%, 0 0); }

section:nth-child(5) {
  width: 100%;
  overflow: hidden;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0 100%, 0 10%);
  clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0 100%, 0 10%); }

/* ==========================================================================
      Slide
      ========================================================================== */
/* Slide 1 */
#slide-1 {
  background-image: url("../images/content/bg2.jpg"); }
  #slide-1 .hsContent {
    color: #fff; }

/* Slide 2 */
#slide-2 {
  background-image: url("../images/content/bg4.jpg"); }

/* Slide 3 */
#slide-3 {
  background-image: url("../images/content/bg3.jpg"); }

/* Slide 4 */
#slide-4 {
  background-image: url("../images/content/bg1.jpg"); }

/* Slide 5 */
#slide-5 {
  background-color: #fff;
  color: #000; }

 /*
    #slide-5 .bcg {
        color: white;
    }

    #slide-5 .bcg2 {
        background-image: url('../images/content/bg1b.jpg');
        position: fixed;
        bottom: 0;
        left: 0;
        opacity: 0;
        z-index: 1
    }

    #slide-5 .bcg3 {
        background: none;
        background-color: #010101;
        z-index: 2;
        position: fixed;
        bottom: 0;
        left: 0;
        opacity: 0;
        z-index: 2
    }

    .bgBlack {
        background-color: rgba(0, 0, 0, 0.75);
        padding: 3px 10px;
    }
    */
.hsContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }

.hsContent {
  max-width: 700px;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.5); }

.hsContent h2 {
  padding: 10px 5px;
  font-size: 35px;
  line-height: 38px;
  margin-bottom: 12px; }

.hsContent p {
  width: 400px; }

.hsContent a {
  color: #b2b2b2;
  text-decoration: underline; }

.box1 {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  color: blue; }

#triangle-bottomleft {
  height: 200px;
  width: 300px;
  margin: 40px auto;
  overflow: hidden;
  position: relative;
  border-bottom: 0em;
  border-left: 100vw;
  border-top: 2.3em;
     /*

     width: 0;
     height: 30px;
     border-bottom: 0px solid transparent;
     border-left: 100px solid blue;
     border-top: 20px solid transparent;
     //position: relative;
     overflow: hidden;
     */ }
  #triangle-bottomleft .a {
    color: #fff; }

#triangle-bottomleft:before {
  content: '';
  position: absolute;
  left: -58px;
  /*-half buffer -left border*/
  height: 188px;
  width: 400px;
  background: url('/images/../images/content/bg3.jpg?1415196784');
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  -webkit-transform: skewX(45deg);
  -moz-transform: skewX(45deg);
  transform: skewX(45deg);
  transform-origin: 50%; }

#triangle-bottomleft:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 157px;
  width: 6px; }

.b {
  -webkit-clip-path: polygon(100% 6%, 100% 100%, 50% 100%, 0 100%, 0 0);
  clip-path: polygon(100% 6%, 100% 100%, 50% 100%, 0 100%, 0 0);
  background: url('/images/../images/content/bg3.jpg?1415196784');
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  width: 200px;
  height: 400px; }
