html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'helv_h';
  src: url("fonts/HelveticaNeue-HeavyCond.eot");
  src: url("fonts/HelveticaNeue-HeavyCond.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeue-HeavyCond.woff") format("woff"), url("fonts/HelveticaNeue-HeavyCond.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'helv_c';
  src: url("fonts/HelveticaNeue-Condensed.eot");
  src: url("fonts/HelveticaNeue-Condensed.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeue-Condensed.woff") format("woff"), url("fonts/HelveticaNeue-Condensed.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'helv_cobl';
  src: url("fonts/HelveticaNeue-CondensedObl.eot");
  src: url("fonts/HelveticaNeue-CondensedObl.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeue-CondensedObl.woff") format("woff"), url("fonts/HelveticaNeue-CondensedObl.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'helv_l';
  src: url("fonts/HelveticaNeue-LightCond.eot");
  src: url("fonts/HelveticaNeue-LightCond.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeue-LightCond.woff") format("woff"), url("fonts/HelveticaNeue-LightCond.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'helv_b';
  src: url("fonts/HelveticaNeue-BoldCond.eot");
  src: url("fonts/HelveticaNeue-BoldCond.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeue-BoldCond.woff") format("woff"), url("fonts/HelveticaNeue-BoldCond.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
/*
$sm: "screen and (min-width: 375px)";
$md-600: "screen and (min-width: 600px)";

$lg: "screen and (min-width: 960px)";
*/
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Parallax Scroll
   ========================================================================== */
body,
html {
  height: 100%;
  min-height: 100%;
  background-color: #000; }

.no-js {
  padding-top: 106px; }

h2 {
  margin-top: 0; }

.loading {
  background: url("../images/ico_loading.gif") no-repeat center center; }

section {
  min-width: 960px;
  opacity: 0; }

.loaded section,
.no-js section {
  opacity: 1;
  -webkit-transition: opacity .4s ease-out;
  -moz-transition: opacity .4s ease-out;
  transition: opacity .4s ease-out; }

main {
  overflow-x: hidden; }

.bcg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%; }

#preload {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
.back-link a {
  color: #4ca340;
  text-decoration: none;
  border-bottom: 1px #4ca340 solid; }

.back-link a:hover,
.back-link a:focus {
  color: #408536;
  text-decoration: none;
  border-bottom: 1px #408536 solid; }

h1 {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  margin: 0;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  margin-bottom: 3px; }

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal; }

    /*
    .hsContainer {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    .hsContent {
        max-width: 550px;
        margin: -150px auto 0 auto;
        display: table-cell;
        vertical-align: middle;
        //color: #ebebeb;
        padding: 0 8%;
        text-align: center
    }

    .hsContent h2,
    .copy h2 {
        //color: #ffffff;
        font-size: 45px;
        line-height: 48px;
        margin-bottom: 12px;
    }

    .hsContent p {
        width: 400px;
        margin: 0 auto;
        //color: #b2b2b2;
    }

    .hsContent a {
        color: #b2b2b2;
        text-decoration: underline;
    }
    
    //-------------------------------------------------------------
    
    .hsContainer {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }
    
    .hsContent {
        max-width: 700px;
        position: absolute;
        left: 0%;
        top: 50%;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .hsContent h2 {
        color: #fff8de;
        padding: 10px 5px;
        font-size: 35px;
        line-height: 38px;
        margin-bottom: 12px;
    }
    
    .hsContent p {
        width: 400px;
        color: #b2b2b2;
    }
    
    .hsContent a {
        color: #b2b2b2;
        text-decoration: underline;
    }
    
    .box1 {
        position: absolute;
        width: 50%;
        height: 50%;
        top: 50%;
        color: blue;
    }

*/
.entry-header .inner {
  text-align: left;
  margin: 0 auto 20px auto;
  width: 800px;
  color: #fff; }

.entry-header {
  padding-top: 20px;
  background-color: #000;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  opacity: .5; }

.socialLinks {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000000; }

.fb-like,
.twitter-follow-button,
.twitter-share-button {
  margin-right: 10px; }

#carbonads-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000000; }

.initp1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent center no-repeat;
  background-size: cover; }

.initp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent center no-repeat;
  background-size: cover; }

section:nth-child(2) {
  width: 100%;
  overflow: hidden;
  -webkit-clip-path: url(../#clip_poly);
  -o-clip-path: url(../#clip_poly);
  clip-path: url(../#clip_poly);
  -webkit-transition: background-image 200ms;
  -moz-transition: background-image 200ms;
  transition: background-image 200ms;
  /*
  -webkit-clip-path: polygon(100% 10%, 100% 100%, 50% 100%, 0 100%, 0 0);
  -ms-clip-path: polygon(100% 10%, 100% 100%, 50% 100%, 0 100%, 0 0);
  -moz-clip-path: polygon(100% 10%, 100% 100%, 50% 100%, 0 100%, 0 0);
  clip-path: polygon(100% 10%, 100% 100%, 50% 100%, 0 100%, 0 0);
  -webkit-clip-path: url("#clip_poly");
  */
  /*
  border-bottom: 0em solid transparent;
  border-left: 100vw solid rgba(0, 0, 255, 0.5);
  border-top: 2.3em solid transparent;
*/ }

section:nth-child(3) {
  width: 100%;
  overflow: hidden;
  -webkit-clip-path: url(../#clip_poly2);
  -o-clip-path: url(../#clip_poly2);
  clip-path: url(../#clip_poly2);
  /*
  -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0 100%, 0 10%);
  -ms-clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0 100%, 0 10%);
  clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0 100%, 0 10%);
  */ }

section:nth-child(4) {
  width: 100%;
  overflow: hidden;
  -webkit-clip-path: url(../#clip_poly);
  -o-clip-path: url(../#clip_poly);
  clip-path: url(../#clip_poly);
  -webkit-transition: background-image 200ms;
  -moz-transition: background-image 200ms;
  transition: background-image 200ms; }

section:nth-child(5) {
  width: 100%;
  overflow: hidden;
  -webkit-clip-path: url(../#clip_poly2);
  -o-clip-path: url(../#clip_poly2);
  clip-path: url(../#clip_poly2); }

/* ==========================================================================
      Slide
      ========================================================================== */
/* Slide 1 */
#slide-1 {
  background-color: #fff; }

/* Slide 2 */
#slide-2 {
  background-color: rgba(247, 7, 0, 0.4); }

/* Slide 3 */
#slide-3 {
  background-color: #2c3e50; }

/* Slide 4 */
#slide-4 {
  background-image: url("../images/content/bg1.jpg"); }

/* Slide 5 */
#slide-5 {
  background-color: #fff;
  color: #000; }

 /*
    #slide-5 .bcg {
        color: white;
    }

    #slide-5 .bcg2 {
        background-image: url('../images/content/bg1b.jpg');
        position: fixed;
        bottom: 0;
        left: 0;
        opacity: 0;
        z-index: 1
    }

    #slide-5 .bcg3 {
        background: none;
        background-color: #010101;
        z-index: 2;
        position: fixed;
        bottom: 0;
        left: 0;
        opacity: 0;
        z-index: 2
    }

    .bgBlack {
        background-color: rgba(0, 0, 0, 0.75);
        padding: 3px 10px;
    }
    */
.hsContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }

.hsContent {
  max-width: 50%;
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }

/*
.hsContent h2 {
    //color: #fff8de;
    padding: 10px 5px;
    font-size: 35px;
    line-height: 38px;
    margin-bottom: 12px;
}

.hsContent p {
    width: 400px;
}

.hsContent a {
    color: #b2b2b2;
    text-decoration: underline;
}
*/
.box1 {
  position: absolute;
  left: 9em;
  margin-top: 24%; }

.box2 {
  position: absolute;
  left: 9em;
  margin-top: 11%; }

.box3 {
  position: absolute;
  left: 9em;
  margin-top: 23%; }

.s1-title {
  font-family: 'helv_c';
  color: #000;
  font-size: 26px;
  font-size: 2vmax;
  margin-bottom: 2%; }

.s1-info {
  font-family: 'helv_b';
  color: #000;
  font-size: 40px;
  font-size: 3vmax; }

.s1-arrow {
  margin-top: 3%;
  width: 56px;
  height: 16px; }

.s2_3,
.s2_4,
.s2_5 {
  font-family: 'helv_b';
  color: #fff;
  right: 0;
  font-size: 3.7vmax;
  pointer-events: none; }

.s2_2 {
  font-family: 'helv_b';
  color: #fff;
  right: 0;
  font-size: 3.7vmax; }

.s2_1,
.s3_1,
.s4_1 {
  position: absolute;
  width: 450px;
  height: 300px;
  top: 27%; }

.s21-tab,
.s41-tab {
  background-image: url("../images/content/s2/tab-orange.png");
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  width: 90%; }
  .s21-tab p,
  .s41-tab p {
    font-family: helv_b;
    font-size: 5.5em;
    color: #fff;
    float: right;
    padding-top: 120px;
    padding-right: 22px;
    /*
    top: 125px;
    right: 0;
    position: absolute;
    */ }

.s2_2 ul {
  display: block;
  list-style: none; }

.s31-tab {
  background-image: url("../images/content/s3/tab-white.png");
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  width: 90%; }
  .s31-tab p {
    font-family: helv_b;
    font-size: 5.5em;
    color: #fff;
    float: right;
    padding-top: 120px;
    padding-right: 22px;
    /*
    top: 125px;
    right: 0;
    position: absolute;
    */ }
  .s31-tab p {
    color: #000; }

.s3-ico {
  width: 198px;
  height: 177px;
  clear: both; }

.s3-ico3 {
  width: 260px;
  height: 177px;
  clear: both; }

.s3-title {
  font-family: 'helv_b';
  margin: 20px 0px;
  color: #000;
  font-size: 1.2em; }

.s3-info {
  font-family: 'helv_c';
  font-style: italic;
  font-size: .45em;
  color: #fff;
  line-height: 1.2em;
  margin-bottom: 30px; }

p.s3-btn {
  position: absolute;
  font-family: 'helv_c';
  font-size: .45em;
  color: #fff;
  padding: .51% 1%;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  border: solid #fff 2px;
  text-decoration: none; }
  p.s3-btn:hover {
    text-decoration: none; }

.s4-title {
  font-family: 'helv_b';
  font-size: 6vmax;
  color: #fff; }

.s4-info {
  font-family: 'helv_c';
  font-size: 0.6em;
  line-height: 1.2em; }
