 // Content //////////////////////////////////
 .initp1 {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: transparent center no-repeat;
     background-size: cover;
 }
 
 .initp {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: transparent center no-repeat;
     background-size: cover;
     //@include background-size(100% 100%); 
 }
 
 section:nth-child(2) {
     width: 100%;
     overflow: hidden;
     -webkit-clip-path: url(../#clip_poly);
     -o-clip-path: url(../#clip_poly);
     clip-path: url(../#clip_poly);
     -webkit-transition: background-image 200ms;
     -moz-transition: background-image 200ms;
     transition: background-image 200ms;
     /*
     -webkit-clip-path: polygon(100% 10%, 100% 100%, 50% 100%, 0 100%, 0 0);
     -ms-clip-path: polygon(100% 10%, 100% 100%, 50% 100%, 0 100%, 0 0);
     -moz-clip-path: polygon(100% 10%, 100% 100%, 50% 100%, 0 100%, 0 0);
     clip-path: polygon(100% 10%, 100% 100%, 50% 100%, 0 100%, 0 0);
     -webkit-clip-path: url("#clip_poly");
     */
     /*
     border-bottom: 0em solid transparent;
     border-left: 100vw solid rgba(0, 0, 255, 0.5);
     border-top: 2.3em solid transparent;
   */
 }
 
 section:nth-child(3) {
     width: 100%;
     overflow: hidden;
     -webkit-clip-path: url(../#clip_poly2);
     -o-clip-path: url(../#clip_poly2);
     clip-path: url(../#clip_poly2);
     /*
     -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0 100%, 0 10%);
     -ms-clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0 100%, 0 10%);
     clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0 100%, 0 10%);
     */
 }
 
 section:nth-child(4) {
     width: 100%;
     overflow: hidden;
     -webkit-clip-path: url(../#clip_poly);
     -o-clip-path: url(../#clip_poly);
     clip-path: url(../#clip_poly);
     -webkit-transition: background-image 200ms;
     -moz-transition: background-image 200ms;
     transition: background-image 200ms;
 }
 
 section:nth-child(5) {
     width: 100%;
     overflow: hidden;
     -webkit-clip-path: url(../#clip_poly2);
     -o-clip-path: url(../#clip_poly2);
     clip-path: url(../#clip_poly2);
 }
 /* ==========================================================================
       Slide
       ========================================================================== */
 /* Slide 1 */
 
 #slide-1 {
     background-color: #fff;
     //background-image: url('../images/content/bg2.jpg');
     //@include bcg_init;
     .hsContent {
         color: #fff;
     }
 }
 /* Slide 2 */
 
 #slide-2 {
     background-image: url('../images/content/bg4.jpg');
     @media #{$md} {
         background-image: url('../images/content/bg4.jpg') !important;
     }
     //background-color: rgba(247, 7, 0, 0.4);
     //position: absolute;
     //margin-top: -25%; 
     //@include bcg_init;
 }
 /* Slide 3 */
 
 #slide-3 {
     background-color: #2c3e50;
     //background-image: url('../images/content/bg3.jpg');
     //@include bcg_init;
 }
 /* Slide 4 */
 
 #slide-4 {
     background-image: url('../images/content/bg1.jpg');
     //@include bcg_init;
 }
 /* Slide 5 */
 
 #slide-5 {
     //position: relative;
     background-color: #fff;
     color: #000;
 }
 /*
    #slide-5 .bcg {
        color: white;
    }

    #slide-5 .bcg2 {
        background-image: url('../images/content/bg1b.jpg');
        position: fixed;
        bottom: 0;
        left: 0;
        opacity: 0;
        z-index: 1
    }

    #slide-5 .bcg3 {
        background: none;
        background-color: #010101;
        z-index: 2;
        position: fixed;
        bottom: 0;
        left: 0;
        opacity: 0;
        z-index: 2
    }

    .bgBlack {
        background-color: rgba(0, 0, 0, 0.75);
        padding: 3px 10px;
    }
    */
 
 // Content area ////////////////////////////////////
 .hsContainer {
     width: 90%;
     height: 100%;
     overflow: hidden;
     position: relative;
     margin-top: 5%;
     //background-color: rgba(0, 9, 5, 0.5);
 }
 
 .hsContent {
     max-width: 700px;
     position: absolute;
     top: 30%;
     left: 0;
     right: 0;
     margin-left: auto;
     margin-right: auto;
     background-color: rgba(0, 0, 0, 0.5);
 }
 
 .hsContent h2 {
     //color: #fff8de;
     padding: 10px 5px;
     font-size: 35px;
     line-height: 38px;
     margin-bottom: 12px;
 }
 
 .hsContent p {
     width: 400px;
 }
 
 .hsContent a {
     color: #b2b2b2;
     text-decoration: underline;
 }
 
 // End Content area ////////////////////////////////////
 .box1 {
     position: absolute;
     width: 100%;
     height: 50%;
     left: 37%;
     margin-top: 330px;
     margin-right: 10%;
     // background-color: rgba(4, 15, 5, 0.5);
 }
 
 .box2 {
     position: absolute;
     width: 100%;
     height: 50%;
     left: 37%;
     margin-top: 140px;
     margin-right: 10%;
     // background-color: rgba(4, 15, 5, 0.5);
 }
 
 @mixin s-tab($uri) {
     @include bg_img($uri);
     @include background-size(100% 100%);
     width: 90%;
     p {
         font-family: helv_b;
         // font-size: 7vmax;
         font-size: 5.5em;
         //font-size: 35vmin;
         color: #fff;
         float: right;
         padding-top: 120px;
         padding-right: 22px;
         /*
         top: 125px;
         right: 0;
         position: absolute;
         */
         // letter-spacing: 0px;
     }
 }
 
 @mixin s2-content {
     font-family: 'helv_b';
     color: #fff;
     //text-transform: uppercase;
     right: 0;
     font-size: 3vmax;
 }
 
 .s2_3,
 .s2_4,
 .s2_5 {
     @include s2-content;
     pointer-events: none;
 }
 
 .s2_2 {
     @include s2-content;
 }
 
 .s2_1,
 .s3_1,
 .s4_1 {
     position: absolute;
     width: 450px;
     height: 300px;
     /* top: 294px; */
     margin-right: 10%;
     max-width: 37%;
     top: 0;
     margin-top: 15%;
 }
 
 .s21-tab,
 .s41-tab {
     @include s-tab('../images/content/s2/tab-orange.png');
 }
 
 .s2_2 {
     ul {
         display: block;
         list-style: none;
     }
 }
 
 
 // S3 /////////////////////////////////////
 .s31-tab {
     @include s-tab('../images/content/s3/tab-white.png');
     p {
         color: #000;
     }
 }
 
 .s3-ico {
     width: 198px;
     height: 177px;
     clear: both;
 }
 
 .s3-ico3 {
     width: 260px;
     height: 177px;
     clear: both;
 }
 
 .s3-title {
     font-family: 'helv_b';
     margin: 20px 0px;
     color: #000;
     font-size: 1.2em;
 }
 
 .s3-info {
     font-family: 'helv_c';
     font-style: italic;
     font-size: .45em;
     color: #fff;
     line-height: 20px;
     margin-bottom: 30px;
 }
 
 p.s3-btn {
     //width: 15%;
     position: absolute;
     font-family: 'helv_c';
     font-size: .45em;
     color: #fff;
     padding: 5px 7px;
     -webkit-border-radius: 10;
     -moz-border-radius: 10;
     border-radius: 10px;
     border: solid #fff 2px;
     text-decoration: none;
     &:hover {
         text-decoration: none;
     }
 }
 
 // End S3 /////////////////////////////////////
 // S4 /////////////////////////////////////
 .s4-title{

 }
  // End S4 /////////////////////////////////////
 // End Content //////////////////////////////////
