@font-face {
    font-family: 'helv_b';
    src: url('fonts/HelveticaNeue-Bold.eot');
    src: url('fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/HelveticaNeue-Bold.woff') format('woff'), url('fonts/HelveticaNeue-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'helv_c';
    src: url('fonts/HelveticaNeue-Condensed.eot');
    src: url('fonts/HelveticaNeue-Condensed.eot?#iefix') format('embedded-opentype'), url('fonts/HelveticaNeue-Condensed.woff') format('woff'), url('fonts/HelveticaNeue-Condensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helv_l';
    src: url('fonts/HelveticaNeue-Light.eot');
    src: url('fonts/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'), url('fonts/HelveticaNeue-Light.woff') format('woff'), url('fonts/HelveticaNeue-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'helv_h';
    src: url('fonts/HelveticaNeue-Heavy.eot');
    src: url('fonts/HelveticaNeue-Heavy.eot?#iefix') format('embedded-opentype'), url('fonts/HelveticaNeue-Heavy.woff') format('woff'), url('fonts/HelveticaNeue-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'helv_i';
    src: url('fonts/HelveticaNeue-Italic.eot');
    src: url('fonts/HelveticaNeue-Italic.eot?#iefix') format('embedded-opentype'), url('fonts/HelveticaNeue-Italic.woff') format('woff'), url('fonts/HelveticaNeue-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'helv_m';
    src: url('fonts/HelveticaNeue-Medium.eot');
    src: url('fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'), url('fonts/HelveticaNeue-Medium.woff') format('woff'), url('fonts/HelveticaNeue-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
