@font-face {
  font-family: 'fontawesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.1.0'); /* IE9 Compat Modes */
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), /* Modern Browsers */
       url('fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), /* Safari, Android, iOS */
       url('fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');/* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'helv_h';
    src: url('fonts/HelveticaNeue-HeavyCond.eot');
    src: url('fonts/HelveticaNeue-HeavyCond.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeue-HeavyCond.woff') format('woff'),
        url('fonts/HelveticaNeue-HeavyCond.ttf')  format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'helv_c';
    src: url('fonts/HelveticaNeue-Condensed.eot');
    src: url('fonts/HelveticaNeue-Condensed.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeue-Condensed.woff') format('woff'),
        url('fonts/HelveticaNeue-Condensed.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helv_cobl';
    src: url('fonts/HelveticaNeue-CondensedObl.eot');
    src: url('fonts/HelveticaNeue-CondensedObl.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeue-CondensedObl.woff') format('woff'),
        url('fonts/HelveticaNeue-CondensedObl.ttf')  format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'helv_l';
    src: url('fonts/HelveticaNeue-LightCond.eot');
    src: url('fonts/HelveticaNeue-LightCond.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeue-LightCond.woff') format('woff'),
        url('fonts/HelveticaNeue-LightCond.ttf')  format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'helv_b';
    src: url('fonts/HelveticaNeue-BoldCond.eot');
    src: url('fonts/HelveticaNeue-BoldCond.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeue-BoldCond.woff') format('woff'),
        url('fonts/HelveticaNeue-BoldCond.ttf')  format('truetype');
    font-weight: bold;
    font-style: normal;
}
